contractions==0.1.73
Django==5.0.6
djangorestframework==3.15.1
gensim==4.3.2
inflect==7.2.1
nltk==3.8.1
numpy==1.26.4
pandas==2.2.2
pyspellchecker==0.8.1
pytrec_eval_terrier==0.5.6
rank_bm25==0.2.2
Requests==2.32.3
scikit_learn==1.4.2
